.servicos img {
    height: 250px;
    width: 350px;
}

.sociais {
    padding: 20px;
}

.sociais img {
    width: 50%;
}

.footer {
    background-color: rgb(204, 204, 204);
    padding: 20px;
}

.menu2 a {
    color: black; 
}

.container {
    margin-top: 50px;
}

.login {
    padding-top: 30px;
}

.form-control {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
}