.servicos img {
    height: 250px;
    width: 350px;
}

.sociais {
    padding: 20px;
}

.sociais img {
    width: 50%;
}

.footer {
    background-color: rgb(204, 204, 204);
    padding: 20px;
}

.menu2 a {
    color: black; 
}